# Ignore folders
venv/
papers/

# Ignore all .pyc files
*.pyc

# Ignore ds_store files
.DS_Store

# Ignore large files
uba/projects/inverse_heat_transfer/nektar_vort2d_Re100Ri1.dat
uba/projects/wave_propagation/dataset.csv